#main{
    margin:auto;
    width:600px;
    min-height:500px;
    border:1px solid blue;
    padding:25px;
}

#post{
    margin:auto;
    width:300px;
    min-height:200px;
    border:1px solid black;
}

#btnSave{
    width:90px;
    padding:5px;
    margin-top:5px;
    margin-left:275px;
    background: #ddd;
    font-size:15px;
    border:1px solid black;
}

body{
    margin:0;
}